<!--<div class="chart-panel" #divRef>-->
<!--  <div class="chart">-->
<div class="container">
<!--<div class="middle">-->
<!--  <div><button mat-raised-button (click)="onClickEmailChange(!this.globalSetting.email)">Email {{this.globalSetting.email}}</button></div>-->
<!--  <div><button mat-raised-button (click)="onClickVoiceChange(!this.globalSetting.voice)">Voice {{this.globalSetting.voice}}</button></div>-->
<!--  <div><button mat-raised-button (click)="onClickTradeChange(!this.globalSetting.trade)">Trade {{this.globalSetting.trade}}</button></div>-->



<!--</div>-->
  <canvas #chartRef chartControl
        (onMouseMove)="onMouseMove($event)"
        (onMouseDown)="onMouseDown($event)"
        (onMouseUp)="onMouseUp()"
        (onMouseDblClick)='onMouseDblClick()'>
</canvas>
</div>
<!--  </div>-->
<!--&lt;!&ndash;  <div class="tools">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="corner" (click)="resize($event)">{{freq}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="zoom"><mat-slider min="10" max="200" step="10" value="100" (valueChange)="onChange($event)" ></mat-slider></div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--</div>-->

