
.grid-container {
  width: 100%;
}

.comp:hover{
  /*background-color: blue !important;*/
  border: 1px solid gray;
}

.grid-item:hover{
}

.comp{
  margin: 0 auto;
  width:100%;
  display: grid;
  grid-template-columns: 20px auto 70px 70px;
}

.tool-tip{
text-align: left;
}

.tool-tip div:first-child, .tool-tip div:last-child{
  margin-bottom: 10px;
}

.grid-container div div:hover {
  cursor: pointer;
}

.grid-container div div{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding:2px;
  border: 1px solid lightgray;
  padding-left: 3px;
}

.grid-container div div:first-child{
  font-size: 13px;
}

span{
  font-size: 10px;
}

.price{
  text-align: center;
  font-size: 13px;
}

.price:hover{
}

.price-up{
  background-color: green;
  color: white;
  border-left: none !important;

}

.price-down{
  background-color: red;
  color: white;
  border-left: none !important;
}

.connect {
  margin-top:35%;
  margin-left:20%;
  color: green;
  height: 4px;
  width:4px;
  background-color: green;
  border-radius: 100%;
}

.disconnect {
  margin-top:20%;
  margin-left:20%;
  color: red;
  height: 5px;
  width:5px;
  background-color: red;
  border-radius: 100%;
}

.inactive{
  margin-top:20%;
  margin-left:20%;
  color: yellow !important;
  height: 5px;
  width:5px;
  background-color: yellow;
  border-radius: 100%;
}












