<div class="container container-border">
  <div class="grid-1" *ngIf="this.portfolio!= undefined">
    <div class="title-daily-pnl">Daily Pnl</div>
    <div class="daily-pnl"
         [ngClass]="{'price-up':this.portfolio.dailyPnl>0, 'price-down':this.portfolio.dailyPnl<0}">
      <div class="daily-pnl-value">{{this.portfolio.dailyPnl}}</div>
      <div class="daily-pnl-change">{{portfolio.netLiquidation / portfolio.mark - 1 | percent:'1.1-1'}}
      </div>
    </div>
  </div>
  <div class="grid-3">
    <div class="title-unrealized">Unreal. Pnl</div>
    <div class="unrealized">{{this.portfolio.unrealizedPnl | number:'1.0-0'}}</div>
    <div class="title-realized">Real. Pnl</div>
    <div class="realized">{{this.portfolio.realizedPnl | number:'1.0-0'}}</div>
  </div>
  <div class="grid-2" *ngIf="this.portfolio!= undefined">
    <div class="title-liquidation">NAV</div>
    <div class="liquidation">{{this.portfolio.netLiquidation | number:'1.0-0'}}</div>
    <div class="title-maintenance">Margin</div>
    <div class="maintenance">{{this.portfolio.maintenance | number:'1.0-0'}}</div>
    <div class="title-liquidity">Cash</div>
    <div class="liquidity">{{this.portfolio.excessLiquidity  | number:'1.0-0'}}</div>
  </div>
  <div class="positions">
    <table>
      <thead>
      <th>P&L</th>
      <th>Contract</th>
      <th>Sym.</th>
      <th>Ccy</th>
      <th>Freq</th>
      <th>Quantity</th>
      <th>Mkt val (USD)</th>
      <th>Mkt val</th>
      <th>Mark.</th>
      <th>Avg Pr.</th>
      <th>Mkt Pr.</th>
      </thead>
      <tbody *ngIf="this.positions != undefined">
      <tr *ngFor="let position of this.positions">
        <td  [ngClass]="{'price-up':position.pnl>0, 'price-down':position.pnl<0}">{{position.pnl}}</td>
        <td>{{position.idcontract}}</td>
        <td>{{position.symbol}}</td>
        <td>{{position.currency}}</td>
        <td>{{position.freq}}</td>
        <td>{{position.quantity}}</td>
        <td>{{position.marketValUSD  | number:'1.0-0'}}</td>
        <td>{{position.marketVal  | number:'1.0-0'}}</td>
        <td>{{position.markPrice }}</td>
        <td>{{position.entryPrice}}</td>
        <td>{{position.lastPrice}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
