<div class="view">
  <div class="wrapper">

<table>
  <tr>
    <td class="sticky-col first-col">timestamp</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.timestamp | date:'dd-MM-yy hh:mm'}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">id</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.id}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">idTick</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.idTick}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">idcontract</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.idcontract}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">freq</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.freq}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">color0</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.color0}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">maxValue</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.maxValue}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">min</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.min}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">minTrend</td>
    <td [ngClass]="{'green': log.minTrend}" *ngFor="let log of logsProcessor; index as i">{{log.minTrend}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">minValid</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.minValid}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">minValue</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.minValue}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">max</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.max}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">maxTrend</td>
    <td [ngClass]="{'green': log.maxTrend}" *ngFor="let log of logsProcessor; index as i">{{log.maxTrend}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">maxValid</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.maxValid}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">getColorMax</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.getColorMax}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">getColorMin</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.getColorMin}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">isMaxDetect</td>
    <td [ngClass]="{'green': log.isMaxDetect}" *ngFor="let log of logsProcessor; index as i">{{log.isMaxDetect}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">isEventTypeMaxConfirm</td>
    <td [ngClass]="{'green': log.isEventTypeMaxConfirm}" *ngFor="let log of logsProcessor; index as i">{{log.isEventTypeMaxConfirm}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">isEventTypeMaxDetect</td>
    <td [ngClass]="{'green': log.isEventTypeMaxDetect}" *ngFor="let log of logsProcessor; index as i">{{log.isEventTypeMaxDetect}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">isEventTypeMaxDetectCancel</td>
    <td [ngClass]="{'green': log.isEventTypeMaxDetectCancel}" *ngFor="let log of logsProcessor; index as i">{{log.isEventTypeMaxDetectCancel}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">isMinDetect</td>
    <td [ngClass]="{'green': log.isMinDetect}" *ngFor="let log of logsProcessor; index as i">{{log.isMinDetect}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">isEventTypeMinConfirm</td>
    <td [ngClass]="{'green': log.isEventTypeMinConfirm}" *ngFor="let log of logsProcessor; index as i">{{log.isEventTypeMinConfirm}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">isEventTypeMinDetect</td>
    <td [ngClass]="{'green': log.isEventTypeMinDetect}" *ngFor="let log of logsProcessor; index as i">{{log.isEventTypeMinDetect}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">isEventTypeMinDetectCancel</td>
    <td [ngClass]="{'green': log.isEventTypeMinDetectCancel}" *ngFor="let log of logsProcessor; index as i">{{log.isEventTypeMinDetectCancel}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">colorGreaterThanMinus1</td>
    <td [ngClass]="{'green': log.colorGreaterThanMinus1}" *ngFor="let log of logsProcessor; index as i">{{log.colorGreaterThanMinus1}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">colorLessThan1</td>
    <td [ngClass]="{'green': log.colorLessThan1}" *ngFor="let log of logsProcessor; index as i">{{log.colorLessThan1}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">flowSizeGreaterThan4</td>
    <td [ngClass]="{'green': log.flowSizeGreaterThan4}" *ngFor="let log of logsProcessor; index as i">{{log.flowSizeGreaterThan4}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">high0GreaterThanMaxValue</td>
    <td [ngClass]="{'green': log.high0GreaterThanMaxValue}" *ngFor="let log of logsProcessor; index as i">{{log.high0GreaterThanMaxValue}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">high0GreaterThanMinValid</td>
    <td [ngClass]="{'green': log.high0GreatherThanMinValid}" *ngFor="let log of logsProcessor; index as i">{{log.high0GreatherThanMinValid}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">high0MinusLow0</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.high0MinusLow0 | number}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">isHigh1lessThanOrEqualHigh2</td>
    <td [ngClass]="{'green': log.isHigh1LessThanOrEqualHigh2}" *ngFor="let log of logsProcessor; index as i">{{log.isHigh1LessThanOrEqualHigh2}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">isHigh2lessThanMax</td>
    <td [ngClass]="{'green': log.isHigh2LessThanMax}" *ngFor="let log of logsProcessor; index as i">{{log.isHigh2LessThanMax}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">isHigh3lessThanOrEqualHigh2</td>
    <td [ngClass]="{'green': log.isHigh3LessThanOrEqualHigh2}" *ngFor="let log of logsProcessor; index as i">{{log.isHigh3LessThanOrEqualHigh2}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">isHigh4lessThanOrEqualHigh2</td>
    <td [ngClass]="{'green': log.isHigh4LessThanOrEqualHigh2}" *ngFor="let log of logsProcessor; index as i">{{log.isHigh4LessThanOrEqualHigh2}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">isLow1greaterThanOrEqualLow2</td>
    <td [ngClass]="{'green': log.isLow1GreaterThanOrEqualLow2}" *ngFor="let log of logsProcessor; index as i">{{log.isLow1GreaterThanOrEqualLow2}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">isLow2greatherThanMin</td>
    <td [ngClass]="{'green': log.isLow2GreatherThanMin}" *ngFor="let log of logsProcessor; index as i">{{log.isLow2GreatherThanMin}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">isLow3greaterThanOrEqualLow2</td>
    <td [ngClass]="{'green': log.isLow3GreaterThanOrEqualLow2}" *ngFor="let log of logsProcessor; index as i">{{log.isLow3GreaterThanOrEqualLow2}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">isLow4greaterThanOrEqualLow2</td>
    <td [ngClass]="{'green': log.isLow4GreaterThanOrEqualLow2}" *ngFor="let log of logsProcessor; index as i">{{log.isLow4GreaterThanOrEqualLow2}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">high0</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.high0}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">high1</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.high1}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">high2</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.high2}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">high3</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.high3}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">high4</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.high4}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">low0</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.low0}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">low1</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.low1}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">low2</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.low2}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">low3</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.low3}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">low4</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.low4}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">low0lessThanMaxValid</td>
    <td [ngClass]="{'green': log.low0LessThanMaxValid}" *ngFor="let log of logsProcessor; index as i">{{log.low0LessThanMaxValid}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">low0lessThanMinValue</td>
    <td [ngClass]="{'green': log.low0LessThanMinValue}" *ngFor="let log of logsProcessor; index as i">{{log.low0LessThanMinValue}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">offset_</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.offset_}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">smallCandleNoiseRemoval</td>
    <td [ngClass]="{'green': log.smallCandleNoiseRemoval}" *ngFor="let log of logsProcessor; index as i">{{log.smallCandleNoiseRemoval}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">abnormalHeightLevel</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.abnormalHeightLevel  | number}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">closeAverage</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.closeAverage  | number}}</td>
  </tr>
  <tr>
    <td class="sticky-col first-col">isNewCandle</td>
    <td *ngFor="let log of logsProcessor; index as i">{{log.isNewCandle}}</td>
  </tr>
</table>

  </div>

</div>
