<div class="container">
  <div class="box-1" *ngIf="this.portfolio!= undefined">
    <div>{{this.portfolio.dailyPnl}}</div>
    <div>1.75%</div>
    <div>{{this.portfolio.unrealizedPnl}}</div>
    <div>{{this.portfolio.realizedPnl}}</div>
  </div>
  <div class="box-2" *ngIf ="this.portfolio!=undefined">
    <div>{{this.portfolio.netLiquidation}}</div>
    <div>{{this.portfolio.maintMarginReq}}</div>
    <div>{{this.portfolio.initMarginReq}}</div>
    <div>{{this.portfolio.excessLiq}}</div>
  </div>
  <div class="positions">
    <table>
      <thead>
        <th>P&L</th>
        <th>Name</th>
        <th>Pos</th>
        <th>Mkt Val.</th>
        <th>Avg Pr.</th>
        <th>Price</th>
      </thead>
      <tbody *ngIf="this.positions != undefined">
      <tr *ngFor="let position of this.positions" >
        <td>{{position.dailyPnl}}</td>
        <td>{{position.symbol}}</td>
        <td>{{position.quantity}}</td>
        <td>{{position.marketValue}}</td>
        <td>{{position.averageCost}}</td>
        <td>{{position.marketPrice}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
