<div class="container">
  <div class="button-menu">
    <button (click)="selectionChanged('WATCHLIST')">WATCHLIST</button>
    <button (click)="selectionChanged('PORTFOLIO')">PORTFOLIO</button>
  </div>
  <div class="button-sector"></div>
  <button (click)="selectionChanged('MAIN')">MAIN</button>
  <button (click)="selectionChanged('COMMO')">COMMO</button>
  <button (click)="selectionChanged('ETF')">ETF</button>
  <button (click)="selectionChanged('FOREX')">FOREX</button>
  <button (click)="selectionChanged('DAILY')">DAILY</button>

  <p class="search" [ngStyle]="{'visibility':selectedValue === 'DAILY' ? 'visible' : 'hidden' }">
    <span>Search</span>
    <span>
      <input type="text" id="search">
    </span>
  </p>

  <div class="grid-container" *ngFor="let contract of contracts; index as i"
       (mouseover)="addClass($event)" (click)="onClick(contract, i)">
    <div class="row-items">
      <div class="grid-item status"
           *ngIf="this.generatorsState.get(contract.idcontract) != undefined"
           [ngClass]="{'disconnect': this.generatorsState.get(contract.idcontract).marketDataStatus===0,
         'inactive' : this.generatorsState.get(contract.idcontract).marketDataStatus===2,
       'connect' : this.generatorsState.get(contract.idcontract).marketDataStatus===1}"
           [tooltip]="tipId" content-type="template" [show-delay]="1000"
           (click)="marketData(contract.idcontract)">{{contract.idcontract}}</div>

      <div class="grid-item min-w"
           [tooltip]="tipContract" content-type="template" [show-delay]="2000"
           *ngIf="contract.fusion ==0; else falsyTemplate">{{contract.symbol}}
        <span class="ticker-details">.{{contract.currency}} {{contract.expiration | date:'MMMyy'}} @{{contract.exchange}}</span></div>

      <ng-template #falsyTemplate>
        <div [tooltip]="tipContract" content-type="template" [show-delay]="2000"
             class="grid-item">{{contract.symbol}}
          <span class="ticker-details">.{{contract.currency}}{{contract.fusion}} {{contract.expiration | date:'MMMyy'}}
            @{{contract.exchange}}</span></div>
      </ng-template>

      <div *ngIf="this.generatorsState.get(contract.idcontract) != undefined"
           [ngClass]="{'price-up':this.generatorsState.get(contract.idcontract).changePerc>0, 'price-down': this.generatorsState.get(contract.idcontract).changePerc<0}">
        {{this.generatorsState.get(contract.idcontract).lastPrice}}
      </div>
      <div *ngIf="this.generatorsState.get(contract.idcontract) != undefined"
           class="price"
           [ngClass]="{'price-up':this.generatorsState.get(contract.idcontract).changePerc>0, 'price-down': this.generatorsState.get(contract.idcontract).changePerc<0}">
        {{this.generatorsState.get(contract.idcontract).changePerc | percent:'1.2-2'}}
      </div>

      <ng-template #tipId class="tool-tip">
        <div class="tool-tip">
          <div>{{contract.symbol}} ({{contract.idcontract}}) -
            Connected: {{this.generatorsState.get(contract.idcontract).marketDataStatus}}</div>
        </div>
      </ng-template>

      <ng-template #tipContract class="tool-tip">
        <div class="tool-tip">
          <div>{{contract.title}}</div>
          <div>Expiration: {{contract.expiration | date: 'dd MMM yyyy'}}</div>
          <div>First Notice: {{contract.firstNotice | date: 'dd MMM yyyy'}}</div>
          <div>Tick Size: {{contract.tickSize}}</div>
          <div>Multiplier: {{contract.multiplier}}</div>
        </div>
      </ng-template>

    </div>
  </div>
  <app-order></app-order>
  <app-portfolio></app-portfolio>
  <app-order-list></app-order-list>
  <app-events-list></app-events-list>
</div>




