.container{
  width:100%;
  margin:20px;
}

.table{
}

.row{
  display: flex;
}

.row div{
  margin: 5px;
}

.class-name{
  color: #ffc107;
}

.info{
  color: dodgerblue;
}

.warn{
  color: orangered;
}

.error{
  color: darkred;
}

.custom-pagination{
  margin: 20px 30px;
}

input{
  width:30px;
}

label{
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.flex-container{
  display: flex;
}

.item-pages{
  display: flex;
  align-items: center;
  justify-items: center;
}

.custom-pagination .page-number{
  display: inline-block;
  background: dodgerblue;
  margin: 10px 4px;
  border-radius: 5px;
  color:white;
  text-align: center;
}



.page-number.current{
  background: #ffffff !important;
  color: black !important;
}

.page-number span{
  min-height: 25px;
  width:25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination-previous,.pagination-next{
  display: inline-block;
  font-weight: bold;
}
