
form{
  display:grid;
  grid-template-columns: 100px 100px;
  grid-template-areas:
  "send-order send-order"
  "frequency frequency"
  "order-type order-type"
  "quantity price"
}

input{
  width:60px;
  text-align: center;
}

button{
  height:20px;
}

.price{
  grid-area: price;
}

.send-order{
  gird-area: send-order
}

.quantity{
  grid-area: quantity
}

.buy{
  align-self: end;
  grid-area: buy;
}

.sell{
  grid-area: sell;
}

.order-type{
  grid-area: order-type;
}

.frequency{
  grid-area: frequency;
}


.price-up {
  background-color: green;
  color: white;
}

.price-down {
  background-color: #BD2828;
  color: white;
}
