<div class="container">
  <div class="col">
    <div class="item">
      <div>
        <button>BUY</button>
      </div>
      <div>
        <button>SELL</button>
      </div>
      <div>
        <button>SUBMIT</button>
      </div>
    </div>
  </div>
  <div><input value="1"></div>
  <div class="nav">
    <ul>
    <li class="deroulant"><a href="#">LMT</a>
      <ul class="dropdown">
        <li><a href="#">LMT</a></li>
        <li><a href="#">MKT</a></li>
        <li><a href="#">MIN</a></li>
        <li><a href="#">MAX</a></li>
      </ul>
    </li>
    </ul>
  </div>
<!--  <div><input value="0.00"></div>-->
<!--  <div>-->
<!--    <ul>-->
<!--      <li><a href="#">DAY</a></li>-->
<!--      <li><a href="#">GTC</a></li>-->
<!--    </ul>-->
<!--  </div>-->
</div>
