<div class="container">
<div class="loginbox">
  <img src="./assets/avatar.png" class="avatar">
  <h1>Login Here</h1>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <p *ngIf="errorMessage != undefined" class ="errorMessage">{{ errorMessage}}</p>
    <p>Username</p>
    <input type="text" formControlName="username" placeholder="Enter Username">
    <p>Password</p>
    <input type="password" formControlName="password" placeholder="Enter Password">
    <input type="submit" name="" value="Login">
    <a href="#">Lost your password?</a><br>
    <a href="#">Don't have an account?</a>
  </form>

</div>

</div>
