.grid{
  display:grid;
  grid-template-columns: 200px 150px 150px repeat(6,100px);
  grid-template-rows: 25px 35px repeat(3,25px);
  grid-template-areas:
  "title date-time date-time date-time hide-me hide-me hide-me order"
  "title date-time date-time date-time hide-me hide-me hide-me order"
  "active-candle-id active-candle active-candle active-candle active-candle active-candle active-candle order"
  "timestamp ticker ticker high high-value weekly weekly-value order"
  "last-price ticker ticker low low-value monthly monthly-value order"
  "last-price ticker ticker volume volume-value yearly yearly-value order";

}

.order{
  grid-area: order;
  border: 1px solid white;
}

.grid > div{
  text-align: center;
  padding:1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-right{
  border-right: 2px solid gray;
}

.border-top{
  border-top: 2px solid gray;
}
.size-s{
  font-size: 0.8em;
}

.size-l{
  font-size: 1.1em;
}

.size-xl{
  font-size: 1.3em;
}

.title{
  grid-area: title;
  animation-delay: 866ms;
}

.date-time{
  grid-area: date-time;
  animation-delay: 692ms;
}

.hide-me{
  text-align: left !important;
  grid-area: hide-me;
  animation-delay: 508ms;
}

.active-candle-id{
  grid-area: active-candle-id;
  animation-delay: 261ms;
  color: dimgray;
}
.active-candle{
  grid-area: active-candle;
  animation-delay: 496ms;
  color: dimgray;

}

.event-message{
  grid-area: active-candle;
  font-size: 1em;
  animation-delay: 496ms;
  color: white;
}

.timestamp{
  grid-area: timestamp;
  animation-delay: 89ms;

}

.last-price{
  display: flex;
  flex-direction: column;
  grid-area: last-price;
  animation-delay: 289ms;
}

.high{
  grid-area: high;
  animation-delay: 579ms;
}

.high-value{
  grid-area: high-value;
  animation-delay: 701ms;
}

.weekly{
  grid-area: weekly;
  animation-delay: 673ms;
}

.weekly-value{
  grid-area: weekly-value;
  animation-delay: 447ms;
}

.ticker{
  grid-area: ticker;
  animation-delay: 879ms;
  display: flex;
  flex-direction: column;

}

.ask{
width:100%;
  height:100%
}

.bid{
width:100%;
  height:100%
}



.low{
  grid-area: low;
  animation-delay: 106ms;
}

.low-value{
  grid-area: low-value;
  animation-delay: 167ms;
}

.volume{
  grid-area: volume;
  animation-delay: 525ms;
}

.volume-value{
  grid-area: volume-value;
  animation-delay: 780ms;
}


.yearly{
  grid-area: yearly;
  animation-delay: 545ms;
}

.yearly-value{
  grid-area: yearly-value;
  animation-delay: 752ms;
}

.monthly{
  grid-area: monthly;
  animation-delay: 452ms;
}

.monthly-value{
  grid-area: monthly-value;
  animation-delay: 350ms;
}


.price-up {
  border-radius: 10px;
  background-color: green;
  color: white;
}

.price-down {
  border-radius: 10px;
  background-color: #BD2828;
  color: white;
}

/*@keyframes keyframe-blink-up {*/
/*  0%  {background-color:green;*/
/*    color: white;*/
/*    border: none;}*/
/*}*/

/*.animate-blink-up {*/
/*  padding:5px 25px;*/
/*  animation-name: keyframe-blink-up;*/
/*  animation-duration: 1000ms;*/
/*  animation-iteration-count: 100;*/
/*  animation-delay: 3s;*/
/*}*/


/*.animate-up-1 {*/
/*  animation-name: keyframe-price-up-1;*/
/*  animation-duration: 1s;*/
/*  animation-iteration-count: 3;*/
/*  animation-direction: alternate;*/
/*  animation-timing-function: ease-in;*/
/*}*/

/*.animate-up-2 {*/
/*  animation-name: keyframe-price-up-2;*/
/*  animation-duration: 1s;*/
/*  animation-iteration-count: 3;*/
/*  animation-direction: alternate;*/
/*  animation-timing-function: ease-in;*/
/*}*/

/*.animate-down-1 {*/
/*  animation-name: keyframe-price-down-1;*/
/*  animation-duration: 1s;*/
/*  animation-iteration-count: 3;*/
/*  animation-direction: alternate;*/
/*  animation-timing-function: ease-in;*/
/*}*/

/*.animate-down-2 {*/
/*  animation-name: keyframe-price-down-2;*/
/*  animation-duration: 1s;*/
/*  animation-iteration-count: 3;*/
/*  animation-direction: alternate;*/
/*  animation-timing-function: ease-in;*/
/*}*/

/*@keyframes keyframe-price-up-1 {*/
/*  0%  {background-color:lightgreen;*/
/*    color: white;*/
/*    border: none;}*/
/*  33%  {background-color:palegreen;*/
/*    border: none;}*/
/*  66%  {background-color:limegreen;*/
/*    border: none;}*/
/*  100%  {background-color:green;*/
/*    border: none;}*/
/*}*/

/*@keyframes keyframe-price-down-1 {*/
/*  0%  {background-color:indianred;*/
/*    color: white;*/
/*    border: none;*/
/*  }*/
/*  33%  {background-color:palevioletred;*/
/*    border: none;}*/
/*  66%  {background-color:orangered;*/
/*    border: none;}*/
/*  100%  {background-color:red;*/
/*    border: none;}*/
/*}*/

/*@keyframes keyframe-price-up-2 {*/
/*  0%  {background-color:lightgreen;*/
/*    color: white;*/
/*    border: none;}*/
/*  33%  {background-color:palegreen;*/
/*    border: none;}*/
/*  66%  {background-color:limegreen;*/
/*    border: none;}*/
/*  100%  {background-color:green;*/
/*    border: none;}*/
/*}*/

/*@keyframes keyframe-price-down-2 {*/
/*  0%  {background-color:indianred;*/
/*    color: white;*/
/*    border: none;}*/
/*  33%  {background-color:palevioletred;*/
/*    border: none;}*/
/*  66%  {background-color:orangered;*/
/*    border: none;}*/
/*  100%  {background-color:red;*/
/*    border: none;}*/
/*}*/





