.container {
  display: flex;
  width: 100%;
  justify-content: space-between;

}

h1 {
  margin: 10px;
  font-size: 1.5em;
}

h2 {
  margin: 10px;
  font-size: 1em;
}

.item {
  text-align: right;
  margin: 10px 30px 10px 30px;
}

.item div{
  width:130px;
padding:0px 5px 0 5px;
}



.item div:first-child{
  border-bottom: 1px solid gray;
  margin-bottom: 3px;
}

.item:nth-child(2) div:first-child {
  border: none;
  margin-bottom: 0px;

}

.item:nth-child(2){
  left:0;
  margin-left: -40px;
  margin-right: 40px;
  font-size: 0.9em;
}

.item:nth-child(2) span{
  margin-left: 10px;
}

.container div:first-child div:first-child{
  font-size: 1.5em;
}

.title {
  display: flex;
  width: 100%;
  align-items: center;
  /*justify-content: center;*/
}

.quantity {
  margin-left: 15px;
}

.price-up{
  background-color: green;
  color: white;
}

.price-down{
  background-color: red;
  color: white;
}
.shorten{
  width:50px;
}
