.container {
  display: flex;
  width: 100%;
  justify-content: space-between;

}

h1 {
  margin: 10px;
  font-size: 1.5em;

}

h2 {
  margin: 10px;
  font-size: 1em;
}


.item {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*text-align: center;*/
  margin: 10px 30px 10px 30px;
}

/*.item div {*/
/*  width: 100%;*/
/*  text-align: center;*/
/*}*/

.time {
  font-size: 11px;
  margin-right: 10px;
}

.item div {
  display:flex;
}

.data{
  font-size: 1.3em;
  margin-left: 10px;
  margin-right: 10px;
}

.title{
  margin-right: 10px;
}

/*.item:nth-child(2) div:first-child {*/
/*  border: none;*/
/*  margin-bottom: 0px;*/
/*}*/

/*.item:nth-child(2){*/
/*  left:0;*/
/*  margin-left: -40px;*/
/*  margin-right: 40px;*/
/*  font-size: 0.9em;*/
/*}*/

/*.item:nth-child(2) span{*/
/*  margin-left: 5px;*/
/*}*/

.container div:first-child div:first-child {
  font-size: 1.5em;
}

.title {
  display: flex;
  width: 100%;
  align-items: center;
  /*justify-content: center;*/
}

.title div span {
  margin-left: 10px;
}

.title div:last-child{
  font-size: 14px;
}

/*.quantity {*/
/*  margin-left: 15px;*/
/*}*/

.price-up {
  background-color: green;
  color: white;
}

.price-down {
  background-color: #BD2828;
  color: white;
}

.hide-me{
  border-radius: 5px;
  background-color: gray;
  /*border: 1px solid black;*/
}


/*.shorten {*/
/*  width: 50px;*/
/*}*/


