.container {
  margin-top:20px;
  display: grid;
  grid-template-columns: repeat(6,40px) repeat(4,60px);

}

.container-order:nth-child(odd){
  background-color: #6b6b6b;
}

.container-order{
  padding:3px;
  grid-column: 1/end;
  display: grid;
  grid-template-columns: repeat(6,40px) repeat(4,60px);
}

.data-date{
  font-size: 0.8em;
  grid-column: 1/end;
  text-align: right;
  padding-right:25px;
}



