.container {
  width:500px;
  padding:10px;
  margin-top:20px;
  display: grid;
  grid-template-columns: repeat(6,40px) repeat(4,60px);

}

.container div, .container-order div{
  text-align: center;
}

.container-order:nth-child(odd){
  background-color: #6b6b6b;
}

.container-order{
  align-items: center;
  padding:3px;
  grid-column: 1/end;
  display: grid;
  grid-template-columns: repeat(6,40px) repeat(4,60px);
}

.data-date{
  font-size: 0.8em;
  grid-column: 9/end;
  padding-right:15px;
}

.data{
  grid-row: 1/3;
}


.item-pages{
  display: flex;
  align-items: center;
  justify-items: center;
}

.custom-pagination .page-number{
  display: inline-block;
  background: dodgerblue;
  margin: 5px 4px;
  border-radius: 5px;
  color:white;
  text-align: center;
}



.page-number.current{
  background: #ffffff !important;
  color: black !important;
}

.flex-container{
  display: flex;
}

.page-number span{
  min-height: 25px;
  width:25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination-previous,.pagination-next{
  display: inline-block;
  font-weight: bold;
}




