@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial";
  font-size: 14px;
  /*background-color: #cfccc2;*/
  background-color: gray;
  color: black;
  /*color:lightgray;*/
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a:hover{
  cursor: pointer;
}
