
section{
  width:100%;
  display: flex;
}

.contract-list {
  min-width:21%;
  margin: 10px;
}

.container{
  width:100%;
  margin-top:10px;
}

.chart-panel{
  width: 99%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: sticky;
  margin-top:10px;
}

.top{
  width:100%;
  display: grid;
  grid-template-columns: 60% auto;
}


.chart{
  order: 1;
  margin:2px;
}





