
<nav id="navbar"><app-header></app-header></nav>
<section (scroll)="onWindowScroll($event)">
    <div class="contract-list">
      <div id="list-contract-gap"></div>
      <div id="list-contract-gap-op"></div>
      <div><app-contracts-list></app-contracts-list></div>
    </div>
  <div class="chart-panel" >
    <div class="sticky" >
      <div class="chart" id="display-chart-1" (click)="clickOnChart('display-chart-1')"><app-chart [freq]="0"></app-chart></div>
      <div class="chart" id="display-chart-2" (click)="clickOnChart('display-chart-2')"><app-chart [freq]="1"></app-chart></div>
      <div class="chart" id="display-chart-3" (click)="clickOnChart('display-chart-3')"><app-chart [freq]="5"></app-chart></div>
      <div class="chart" id="display-chart-4" (click)="clickOnChart('display-chart-4')"><app-chart [freq]="15"></app-chart></div>
      <div class="chart" id="display-chart-5" (click)="clickOnChart('display-chart-5')"><app-chart [freq]="30"></app-chart></div>
      <div class="chart" id="display-chart-6" (click)="clickOnChart('display-chart-6')"><app-chart [freq]="60"></app-chart></div>
      <div class="chart" id="display-chart-7" (click)="clickOnChart('display-chart-7')"><app-chart [freq]="240"></app-chart></div>
      <div class="chart" id="display-chart-8" (click)="clickOnChart('display-chart-8')"><app-chart [freq]="1380"></app-chart></div>
      <div class="chart" id="display-chart-9" (click)="clickOnChart('display-chart-9')"><app-chart [freq]="6900"></app-chart></div>
      <div class="chart" id="display-chart-10" (click)="clickOnChart('display-chart-10')"><app-chart [freq]="35000"></app-chart></div>
      <div class="chart" id="display-chart-11" (click)="clickOnChart('display-chart-11')"><app-chart [freq]="100000"></app-chart></div>
      <div class="chart" id="display-chart-12" (click)="clickOnChart('display-chart-12')"><app-chart [freq]="100000"></app-chart></div>

    </div>
  </div>
</section>




